@use "../../scss/base";

%margin-block {
  margin-block-start: 0;
  margin-block-end: 0;
}

.filterlist {
  width: 300px;
  height: 400px;
  background-color: base.$sections-background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  align-self: start;
  position: sticky;
  top: 200px;
  margin-right: 25px;
}

.currency {
  margin-top: 25px;
  width: 100%;
}

.filterlist__title {
  @include base.fontstyle($weight: 700, $size: 14px, $height: 14px);
  @extend %margin-block;
  text-align: start;
  margin-bottom: 20px;
  margin-left: 25px;
}

.currency__list {
  @extend %margin-block;
  list-style: none;
  display: flex;
  width: 257px;
  padding-inline-start: 0;
  margin: 0 auto;
}

.currency__item {
  border: 1px solid #e1e3e4;
}

.currency__item:not(:last-of-type) {
  border-right-width: 0.5px;
}

.currency__item:hover {
  border-color: base.$filterui-main-color;
  background-color: #f2fcff;
  cursor: pointer;
}

.currency__item:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.currency__item:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.currency__button {
  @include base.fontstyle($weight: 700, $size: 14px, $height: 14px);
  width: 85px;
  height: 50px;
  color: base.$filterui-main-color;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-block: 0;
  padding-inline: 0;
  outline: none;
}

.currency__button:focus {
  background-color: base.$filterui-main-color;
  color: base.$button-font-main-color;
}

.currency__button_first:focus {
  background-color: base.$filterui-main-color;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: base.$button-font-main-color;
}

.currency__button_last:focus {
  background-color: base.$filterui-main-color;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: base.$button-font-main-color;
}

.transferFilter {
  width: 100%;
  min-height: 250px;
}

.transferFilter__list {
  @extend %margin-block;
  list-style: none;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
}

.transferFilter__type {
  width: calc(100% - 29px);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 29px;
}

.transferFilter__type:hover {
  background-color: #f1fcff;
  cursor: pointer;
}

.transferFilter__item {
  transform: scale(1.7);
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.transferFilter__item:checked::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/check.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 1px solid base.$filterui-main-color;
  border-radius: 2px;
  background-color: base.$button-font-main-color;
}

.transferFilter__text {
  @include base.fontstyle($weight: 500, $size: 16px, $height: 24px);
}

.transferFilter__only {
  @include base.fontstyle($weight: 500, $size: 18px, $height: 18px);
  margin-right: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: base.$filterui-main-color;
}
