.point {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.point_right {
  align-items: end;
}

.point__time {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #575757;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}

.point__airport {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 15px;
  color: #575757;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.point__date {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 7px;
  color: #afb6b9;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}
