@use './scss/base';

html {
  overflow-y: scroll;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background: base.$app-background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 800px;
}
