#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background: #f3f7fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 800px;
}
